<ul class='countries-list'>
  {{#each this}}
    <li class='countries-list__item'><img
        class='countries-list__image'
        src='{{flag}}'
        alt='{{name}}'
        width='20'
        height='18'
      />{{name}}</li>
  {{/each}}
</ul>